# CMake build artifacts
build/
build-macos
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.vcxproj*
*.sln

# Presets and user-specific configuration
CMakeUserPresets.json
CMakePresets.json.user
